<body>
<div class="container-fluid d-flex align-items-center justify-content-center bg-light">
    <div class="border bg-white border-2 rounded">
        <br>
        <div class="mx-5 d-flex justify-content-center">
            <h1>LOL - Lavanderia OnLine</h1>
        </div>

        <!--        <div class="mx-5">-->
        <!--            <img src="/assets/logo.png" class="img-fluid" width="300" height="100" alt="">-->
        <!--        </div>-->
        <hr class="bg-dark border-1 border-top border-dark mx-3">
        <br>
        <form method="POST" action="/dashboard/login" class="needs-validation" novalidate="" autocomplete="off">
            <div class="row mx-5">
                <label class="mb-2 text-muted" for="email">Email</label>
                <input id="email" type="email" class="form-control" name="email" required autofocus>
                <div class="invalid-feedback">
                    Email inválido
                </div>
            </div>
            <br>
            <div class="row mx-5">
                <label class="mb-2 text-muted" for="password">Senha</label>
                <input id="password" type="password" class="form-control" name="password" required>
                <div class="invalid-feedback">
                    Senha inválida
                </div>
            </div>
            <br>
            <br>
            <div class="row mx-5">
                <button type="submit" class="btn btn-success btn-lg ms-auto">Entrar</button>
            </div>
            <br>
            <div class="row mx-5">
                <a href="/register" class="btn btn-light btn-lg ms-auto">Primeiro acesso</a>
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
</body>