<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LOL - Lavanderia Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="'/'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/orders/list'">Pedidos</a>
                </li>
                <li *ngIf="authenticatedUser?.role === 'customer'"  class="nav-item">
                    <a class="nav-link" [routerLink]="'/orders/search'">Buscar pedido</a>
                </li>
                <li *ngIf="authenticatedUser?.role === 'employee'" class="nav-item">
                    <a class="nav-link" [routerLink]="'/clothings/list'">Peças de roupa</a>
                </li>
                <li *ngIf="authenticatedUser?.role === 'employee'" class="nav-item">
                    <a class="nav-link" [routerLink]="'/employees/list'">Funcionários</a>
                </li>
                <li *ngIf="authenticatedUser?.role === 'employee'" class="nav-item">
                    <a class="nav-link" [routerLink]="'/reports/select'">Relatórios</a>
                </li>
                <li class="nav-item">
                    <a (click)="logout()" class="nav-link" href="#">Sair</a>
                </li>
                <li class="nav-item">
                    <p class="navbar-text mb-0 text-secondary">
                        <i class="fa fa-user"></i> {{ authenticatedUser?.name }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</nav>