<div class="container-fluid">
    <br>
    <div class="row g-5">
        <div class="col-12 col-sm-12 col-md-6 col-lg-8 mx-3">
            <h1>Novo pedido</h1>
        </div>
    </div>
    <br>
    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-10 border rounded mx-2">
        <div class="row bg-light">
            <div class="col-8 ms-2">
                <br>
                <h4 class="ms-2">Itens do pedido</h4>
                <br>
                <div class="row g-3">
                    <div class="col-md-12 col-lg-10">
                        <div class="feature col" *ngFor="let orderItem of dto.items!">
                            <div class="card text-dark bg-white mb-3">
                                <div class="card-header bg-secondary text-white">Peça de roupa: {{ orderItem.clothing!.name! }} - {{ orderItem.clothing!.washTime! }} dia(s)</div>
                                <div class="card-body">
                                    <p class="card-text">Quantidade: {{ orderItem.quantity }}</p>
                                    <p class="card-text">Preço unitário: R${{ orderItem.clothing!.washPrice }}</p>
                                    <button type="button" (click)="editItem(orderItem)" class="btn btn-xs btn-warning ms-2" title="Editar">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" (click)="removeItem($event, orderItem)" class="btn btn-xs btn-danger ms-2" title="Remover">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" *ngIf="dto.items!.length === 0">
                            <br>
                            <p class="text-secondary">Nenhuma roupa adicionada</p>
                            <br>
                        </div>
                    </div>
                </div>
                <hr class="bg-dark border-1 border-top border-dark">
                <form [formGroup]="orderForm" class="row g-3">
                    <div class="col-4">
                        <select class="form-control" formControlName="clothingId" id="clothingId">
                            <option value="">Selecionar peça de roupa</option>
                            <option *ngFor="let clothing of clothings" [value]="clothing.id">{{clothing.name}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="text" formControlName="clothingQuantity" name="clothingQuantity" id="clothingQuantity" class="form-control" placeholder="Quantidade" required>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-secondary" (click)="addNewClothing()">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
                <br>
            </div>
            <div class="col-auto ms-2 border-start">
                <br>
                <h4 class="ms-2">Detalhes</h4>
                <br>
                <p>Quantidade de itens:  {{ totalQuantity }}</p>
                <p>Entrega em: {{ totalWashTime }} dia(s)</p>
                <p>Valor total: R${{ totalWashPrice }}</p>
                <button type="button" class="btn btn-success" (click)="showOrderSummary()">
                    Criar orçamento
                </button>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="well">

</div>