<body>
<div class="container-fluid d-flex align-items-center justify-content-center bg-light">
    <div class="col-6 border bg-white border-2 rounded">
        <br>
        <div class="mx-5 d-flex justify-content-center">
            <h1>LOL - Lavanderia OnLine</h1>
        </div>
        <hr class="bg-dark border-1 border-top border-dark mx-3">
        <br>
        <form #loginForm="ngForm">
            <div class="row mx-5">
                <label class="mb-2 text-muted" for="email">Email</label>
                <input type="text" [(ngModel)]="dto.email" #name="ngModel" class="form-control" id="email" name="email" required minlength="2" maxlength="100" autofocus>
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors['required']" >Digite o email</div>
                    <div [hidden]="!name.errors['minlength']" >O email deve conter ao menos 2 caracteres</div>
                    <div [hidden]="!name.errors['maxlength']" >O email deve conter ao máximo 100 caracteres</div>
                </div>
            </div>
            <br>
            <div class="row mx-5">
                <label class="mb-2 text-muted" for="password">Senha</label>
                <input type="password" [(ngModel)]="dto.password" #password="ngModel" class="form-control" id="password" name="password" minlength="4" maxlength="12" required>
                <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                    <div [hidden]="!password.errors['required']" >Digite a senha</div>
                    <div [hidden]="!password.errors['minlength']">A senha deve conter ao menos 4 caracteres</div>
                    <div [hidden]="!password.errors['maxlength']">A senha deve conter ao máximo 12 caracteres</div>
                </div>
            </div>
            <br>
            <div class="row mx-5">
                <div *ngIf="message !== undefined" class="alert alert-danger">
                    <div>{{ message }}</div>
                </div>
            </div>
            <br>
            <div class="row mx-5">
                <button type="button" class="btn btn-success btn-lg ms-auto" (click)="executeLogin()" [disabled]="!loginForm.form.valid">
                    Entrar
                </button>
            </div>
            <br>
            <div class="row mx-5">
                <a [routerLink]="'/register'" class="btn btn-light btn-lg ms-auto">Primeiro acesso</a>
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
</body>