<br>
<div class="container-fluid d-flex justify-content-center">
    <div class="col-11">
        <div class="row">
            <div class="feature col">
                <div class="card text-dark mb-3">
                    <div class="card-header bg-secondary text-white">Orçamento</div>
                    <div class="card-body">
                        <div class="mx-n5 px-5 py-4 bg-light text-dark">
                            <div class="row" *ngFor="let orderItem of order.items!">
                                <div class="col-md-4 col-lg-3">
                                    <p>Item: {{ orderItem.clothingId }}</p>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <p>Quantidade: {{ orderItem.totalQuantity }}</p>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <p>Valor: R${{ orderItem.totalWashPrice! }}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr class="bg-dark border-1 border-top border-dark">
<!--                        <p class="card-text">Número do pedido: {{ order.id }}</p>-->
                        <p class="card-text">Valor total: R${{ order.washPrice }}</p>
                        <p class="card-text">Quantidade de itens: {{ totalProducts }}</p>
                        <p class="card-text">Entrega em: {{ order.washTime }} dia(s)</p>
                        <br>
                        <button type="button" class="btn btn-success ms-2" (click)="setStatus(order.id!, 'open')">
                            Aprovar
                        </button>
                        <button type="button" class="btn btn-danger ms-2" (click)="setStatus(order.id!, 'rejected')">
                            Rejeitar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>