<div class="container-fluid d-flex justify-content-center">
    <div class="col-11">
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1>Cliente - Pedidos em aberto</h1>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end">
                <a [routerLink]="'/orders/create'" href="#" title="Novo pedido" class="btn btn-lg btn-success">
                    Novo pedido
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <app-orders [orders]="openOrders"></app-orders>
    </div>
</div>
