<div class="container-fluid">
    <br>
    <a class="btn btn-secondary" [routerLink]="'/employees/list'" role="button">Voltar</a>
    <br>
    <div class="py-4 text-justify">
        <h1>Novo funcionário</h1>
    </div>
    <div class="row g-5">
        <div class="col-md-12 col-lg-10">
            <form #createEmployeeForm="ngForm">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" [(ngModel)]="employee.name" #name="ngModel" class="form-control" id="name" name="name" minlength="2" required>
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                        <div [hidden]="!name.errors['required']" >Digite o nome do funcionário</div>
                        <div [hidden]="!name.errors['minLength']" >O nome deve conter ao menos 2 caracteres</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate">Data de nascimento</label>
                    <input type="date" [(ngModel)]="employee.birthDate" #birthDate="ngModel" class="form-control" id="birthDate" name="birthDate" required>
                    <div *ngIf="birthDate.errors && (birthDate.dirty || birthDate.touched)" class="alert alert-danger">
                        <div [hidden]="!birthDate.errors['required']" >Digite a data de nascimento do funcionário</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" [(ngModel)]="employee.email" #email="ngModel" class="form-control" id="email" name="email" required>
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                        <div [hidden]="!email.errors['required']" >Digite o email do funcionário</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" [(ngModel)]="employee.password" #password="ngModel" class="form-control" id="password" name="password" required>
                    <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                        <div [hidden]="!password.errors['required']" >Digite a senha do funcionário</div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button type="button" class="btn btn-success ms-2" (click)="save()" [disabled]="!createEmployeeForm.form.valid">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
                    <a [routerLink]="'/employees/list'" class="btn btn-secondary ms-2">
                        <i class="fa arrow-left" aria-hidden="true"></i> Voltar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>