<div class="container-fluid  d-flex justify-content-center">
    <div class="col-11">
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                <h1>Buscar pedido</h1>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-10">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <label for="orderId" class="form-label">ID</label>
                    <input type="text" [(ngModel)]="orderId" class="form-control" id="orderId" name="orderId" placeholder="Ex: 1234" value="">
                </div>
                <br>
                <button type="button" (click)="searchOrder()" class="btn border border-3"><i class='fa fa-search'></i> Buscar</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div *ngIf="order">
                    <div class="card my-3">
                        <app-order [order]="order"></app-order>
                    </div>
                </div>
                <div class="text-center" *ngIf="notFound">
                    <br>
                    <p class="text-secondary">Nenhum pedido encontrado</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>