<div class="container-fluid d-flex justify-content-center">
    <div class="col-11">
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                <h1>Pedidos</h1>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
                    <label for="incidentTypeId" class="form-label">Status</label>
                    <select [(ngModel)]="statusFilter" class="form-select form-control" id="incidentTypeId" name="incidentTypeId">
                        <option value="">Selecionar...</option>
                        <option value="created">Criado</option>
                        <option value="open">Em aberto</option>
                        <option value="rejected">Rejeitado</option>
                        <option value="canceled">Cancelado</option>
                        <option value="collected">Recolhido</option>
                        <option value="waiting_payment">Aguardando pagamento</option>
                        <option value="paid">Pago</option>
                        <option value="finished">Finalizado</option>
                    </select>
                </div>
                <br>
                <button type="button" (click)="filterOrders()" class="btn border border-3"><i class='fa fa-search'></i> Filtrar</button>
                <button *ngIf="filtering" type="button" (click)="cancelFilter()" class="btn btn-danger mx-2"><i class='fa fa-cancel'></i> Cancelar</button>
                <br>
                <br>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngIf="true">
                    <div class="row g-3 d-flex justify-content-center">
                        <div class="col-4 form-group">
                            <button #todayButton type="button" class="btn btn-outline-secondary" (click)="filterToday()">Pedidos de hoje</button>
                        </div>
                        <div class="col-4 form-group">
                            <button #todayPeriod type="button" class="btn btn-outline-secondary" (click)="filterPeriod()">Período</button>
                        </div>
                        <div class="col-4 form-group">
                            <button #todayAll type="button" class="btn btn-secondary" (click)="filterAll()">Todos os pedidos</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngIf="filterPeriodOrders">
                    <div class="row g-5">
                        <div class="col-5 form-group">
                            <label for="startDate">Data inícial</label>
                            <input type="date" (ngModelChange)="setInitialDate($event)" [(ngModel)]="startDate" class="form-control" id="startDate" name="startDate">
                        </div>
                        <div class="col-5 form-group">
                            <label for="endDate">Data final</label>
                            <input type="date" (ngModelChange)="setEndDate($event)" [(ngModel)]="endDate" class="form-control" id="endDate" name="endDate">
                        </div>
                    </div>
                </div>
                <br>

            </div>
        </div>
        <br>
        <br>
        <app-orders [orders]="orders"></app-orders>
        <br>
    </div>
    <br>
</div>
