<div class="container-fluid d-flex justify-content-center">
    <div class="col-11">
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                <h1>Pedidos</h1>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
                    <label for="incidentTypeId" class="form-label">Status</label>
                    <select [(ngModel)]="statusFilter" class="form-select form-control" id="incidentTypeId" name="incidentTypeId">
                        <option value="">Selecionar...</option>
                        <option value="created">Criado</option>
                        <option value="open">Em aberto</option>
                        <option value="rejected">Rejeitado</option>
                        <option value="canceled">Cancelado</option>
                        <option value="collected">Recolhido</option>
                        <option value="waiting_payment">Aguardando pagamento</option>
                        <option value="paid">Pago</option>
                        <option value="finished">Finalizado</option>
                    </select>
                </div>
                <br>
                <button type="button" (click)="filterOrders()" class="btn border border-3"><i class='fa fa-search'></i> Filtrar</button>
                <button *ngIf="filtering" type="button" (click)="cancelFilter()" class="btn btn-danger mx-2"><i class='fa fa-cancel'></i> Cancelar</button>
            </div>
        </div>
        <br>
        <br>
        <app-orders [orders]="orders"></app-orders>
        <br>
    </div>
    <br>
</div>
